<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Car Hub</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <link href="public/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/">Car Hub</a>
                
                {{!-- {{#if loginUser}} --}}
                <div class="dropdown">
                <button class="dropbtn"><i class="fa fa-fw fa-user"></i>User</button>
                <div class="dropdown-content">
                    <a href="/myCar">My Car</a>
                    <a href="/myBookings">My bookings</a>
                    <a href="/login">Login</a>
                </div>
                {{!-- {{/if}}

                <a class="btn btn-primary" href="/login">Login/Sign Up</a> --}}
            </div>
        </nav>

    <main class="container">
        <div class="row">
        <div class="col-sm-12" 	role="main">
            {{{body}}}
        </div>
        </div>
    </main>

    <footer>
        <div class="card-footer">
            <center><p>&copy; Car Hub Team || Chetana Nirmal | Anshul Mistry | Atharva Kulkarni | Tushar Batla</p></center>
        </div>
    </footer>

</body>

</html>


