<h1>Registration page</h1>

<div>
    {{error}}
</div>

<form action="/login/signup" id="signup-form" method="POST">
    <label>Enter Email: </label>
    <input type="text" name="email" placeholder="Type username"><br>
    <label>Enter Password: </label>
    <input type="password" name="password" placeholder="Type password"><br>

    <label>Enter First Name: </label>
    <input type="text" name="firstName" placeholder="Type first name"><br>
    <label>Enter Last Name: </label>
    <input type="text" name="lastName" placeholder="Type last name"><br>
    <label>Enter Age: </label>
    <input type="text" name="age" placeholder="Type age"><br>
    <label>Enter Phone Number: </label>
    <input type="text" name="phoneNumber" placeholder="Type phone number"><br>
    <label>Enter House Number: </label>
    <input type="text" name="houseNumber" placeholder="Type house number"><br>
    <label>Enter Street: </label>
    <input type="text" name="street" placeholder="Type street"><br>
    <label>Enter City: </label>
    <input type="text" name="city" placeholder="Type city"><br>
    <label>Enter State: </label>
    <input type="text" name="state" placeholder="Type state"><br>
    <label>Enter Zip: </label>
    <input type="text" name="zip" placeholder="Type zip"><br>

    <input type="submit" value="Register" class btn-p>
</form>


<a href="/">Already have an account? Click here to log-in</a>