<h2>ADD CAR</h2>
<form action="/myCar/addCar" method="POST">
<label>Brand Name</label>
<input type="text" name="brand_name" id="brand_name"><br>
<label>Color</label>
<input type="text" name="color" id="color"><br>
<label>Number</label>
<input type="text" name="number" id="number"><br>
<label>Capacity</label>
<input type="text" name="capacity" id="capacity"><br>
<button id="b2" type="submit">Submit</button>
</form>