<h1>ADD CAR</h1>
<p>{{error}}</p>
<div id="errors"></div>
<form action="/myCar/addCar" method="POST" id="add_car" enctype="multipart/form-data">
<label>Brand Name</label>
<input type="text" name="brand_name" id="brand_name"><br>
<label>Color</label>
<input type="text" name="color" id="color"><br>
<label>Number</label>
<input type="text" name="number" id="number"><br>
<label>Capacity</label>
<input type="number" name="capacity" id="capacity"><br>
<label>Rate</label>
<input type="number" name="rate" id="rate"><br>
<label>File Upload</label>
<input type="file" id="uploadFile" name="uploadFile" id="upload_file"> 
<button id="b2" type="submit">Submit</button>
</form>