 <!-- Masthead-->
    <form method="POST" action="/searchCar">
        <header>
            <label>Enter City : 
            <input id="where" name="sourceAddress" type="text" placeholder="Enter a City" data-sb-validations="required,text" /></label>
            {{!-- <label>From Date : 
            <input id="fromDate" name="fromDate" type="date" placeholder="From Date" data-sb-validations="required,date" /></label>
            <label>To Date : 
            <input id="toDate" name="toDate" type="date" placeholder="To Date" data-sb-validations="required,date" /></label> --}}
            <div><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
        </header>
    </form>