<div class="d-flex flex-row bd-highlight justify-content-center mb-2">
    <div class="p-2 bd-highlight">
        <form method="POST" action="/" id="myMapForm">
            <label>Enter City :
                <input class="input" id="mapInput" name="sourceAddress" type="text" placeholder="Enter a City"
                    data-sb-validations="required,text" />
            </label>
            <button class="btn btn-primary btn-md" id="submitButton" type="submit">Submit</button>
        </form>
    </div>
</div>
<div id='mapBOX'></div>
